body {
    background-image: url(Media/Background.png);
    background-repeat: no-repeat;
}

#appBody {
    background-image: url(Media/LongBackground.png);
}


h1 {

    
}

#HeadIcon {
    height: 130px;
    padding-top: 20px;
    margin-bottom: 10px;
    display: block;
    margin: 0 auto;
    
}

.heading {
    margin-top: 25px;
    margin-bottom: 10px;
    font-family: 'Nunito', sans-serif;
	font-weight: 600;
	font-size: 70px;
    color: floralwhite;
    text-align: center;
}

#slogan {
    
    margin-top: 0px;
    font-family: 'Nunito',sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: floralwhite;
    text-align: center;
}

#buttons {
    text-align: center;
}

.mainNav {
	color: rgb(168, 12, 168);
	background-color: floralwhite;
	font-size: 25px;
	font-family: 'Nunito', sans-serif;
    font-weight: 300;
	border: 2px solid;
	border-radius: 25px;
    border-color: floralwhite;
	height: 50px;
    width: 300px;
    margin-top: 10px;
	
}

.mainNav:hover {
    color: rgb(168, 12, 168);
	background-color: floralwhite;
	font-size: 25px;
	border: 2px;
    border-style: solid;
	border-radius: 25px;
    border-color: black;
}

.facebook {
    background:url(Media/Social/Facebook.png) no-repeat;
    height: 40px;
    width: 40px;
    border: 0px;
}

.twitter {
    background:url(Media/Social/twitter.png) no-repeat;
    height: 50px;
    width: 50px;
    border: 0px;
    padding-bottom: 8px;
}

.insta {
    background:url(Media/Social/Insta.png) no-repeat;
    height: 55px;
    width: 55px;
    border: 0px;
    padding-bottom: 11px;
}

.youtube {
    background:url(Media/Social/youtube.png) no-repeat;
    height: 55px;
    width: 55px;
    border: 0px;
}


#appGallery {
    display: block;
    max-width: 840px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width:860px) {
    #appGallery {
    display: block;
    max-width: 630px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width:650px) {
    
    .heading {
    margin-top: 25px;
    margin-bottom: 10px;
    font-family: 'Nunito', sans-serif;
	font-weight: 600;
	font-size: 50px;
    color: floralwhite;
    text-align: center;
  }
    
    #appGallery {
    display: block;
    max-width: 420px;
    margin-left: auto;
    margin-right: auto;
  }
    
}

@media screen and (max-width:440px) {
    #appGallery {
    display: block;
    max-width: 210px;
    margin-left: auto;
    margin-right: auto;
  }
}

.appImg {
    margin: 5px;
    border: 0px;
    float: left;
    width: 180px;
    padding: 10px;
}

.appImg img {
    width: 100%;
    height: auto;
}

.appDesc {
    padding: 2px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    color: floralwhite;
}

#lastimg {
    padding-bottom: 100px;
}

#directions {
    margin: 0px;
    font-family: 'Nunito',sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: floralwhite;
    text-align: center;
    padding: 0px;
}

.backButton {
    color: black;
	background-color: floralwhite;
	font-size: 15px;
	font-family: 'Nunito', sans-serif;
    font-weight: 900;
	border: 2px solid;
	border-radius: 25px;
    border-color: floralwhite;
	height: 40px;
    width: 100px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.backButton:hover {
    border-color:black;
}


#handpic {
    position: absolute;
    right: 0;
    bottom: 0;
    padding-right: 100px;
}

#bottomIcon {
    display: none;
}


#aboutHeading {
    text-align: left;
    font-size: 50px;
    padding-left: 25px;
    margin-bottom: 0px;
}

#aboutSlogan {
    font-family: 'Nunito', sans-serif;
	font-weight:500;
	font-size: 40px;
    color: floralwhite;
    text-align: left;
    margin-top: 60px;
    margin-left: 25px;
    
}

#companyDesc {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: floralwhite;
    text-align: left;
    margin-left: 25px;
    float: left;
    
}

#descDiv {
    width: 40%;
}

#aboutButtonDiv {
    float:left;
    width: 100%;
    margin-left: 25px;
}

#aboutBack {
    color: black;
    background-color: floralwhite;
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    border: 2px solid;
    border-radius: 25px;
    border-color: floralwhite;
    height: 40px;
    width: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
}

    
#mySiteButton {
    color: black;
    background-color: floralwhite;
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    border: 2px solid;
    border-radius: 25px;
    border-color: floralwhite;
    height: 40px;
    width: 150px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
}

@media screen and (max-width:1000px) {
    #handpic {
        padding-right: 0px;
    }  
    
    
    #aboutHeading {
    font-size: 45px;
  }
}

@media screen and (max-width:650px) {
    #handpic  {
        display: none;
    }
    
    #bottomIcon {
        display: block;
        height: 175px;
        padding-top: 50px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 25px;
    }
    
    #aboutHeading {
        text-align: center;
        padding-left: 0px;
    }
    
    #aboutSlogan {
        text-align: center;
        font-size: 25px;
        margin-left: 0px;
        margin-top: 20px;
    }
    
    #descDiv {
    width: 100%;
        
    }
    
    #aboutButtonDiv {
        margin-left: 0px;
    }
    
    #aboutBack {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;
        margin-bottom: 0px;
    }
    
    #mySiteButton {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 12px;
        margin-bottom: 30px;
    }
        
}



